@import url('https://fonts.googleapis.com/css?family=Open+Sans');
    html, body{
        min-height: 100%;
    }
    body{
        
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    form{
        width: 50%;
        margin: 30px auto;
        margin-top: 150px;
        padding: 2% 5%; 
        background: #fff;
        opacity: 0.90;
    }
    #logo{
        width: 180;
        height: 60px;
    }
    .logo-container{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
    }
    input{
        width: 60%;
        margin-left: 20%;
        margin-top: 10px;
        border: 2px solid #bdbdbd;
        border-radius: 5px;
        padding: 2% 1%;
        background: #fff;
    }
    #login{ margin-top: 30px;}
    h4{
        text-align: center;
        color: #1565c0;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
       
    }
    #btn-login{
        width: 60%;
        margin-left: 20%;
        margin-top: 15px;
        text-transform: capitalize;
        font-weight: bolder;
        border-radius: 5px;
    }
    .switch{
        margin-left: 20%;
    }
    /* checkbox */
    .switch label input[type=checkbox]:checked+.lever {
        background-color: #1e88e5;
    }
    .switch label input[type=checkbox]:checked+.lever:after {
        background-color: #1565C0;
    }
    #p1{
        margin-top: 80px;
        color: #616161;
       
    }
    .msg{ color: #f00;}
    ::-webkit-input-placeholder {
        color: #bdbdbd;
    }

    :-moz-placeholder { /* Firefox 18- */
    color: #616161;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
    color: #616161;  
    }

    :-ms-input-placeholder {  
    color: #616161;  
    }
    @media screen and (max-width: 768px){
        form{
        width: 100%;
        margin: 30px auto;
        margin-top: 60px;
        padding: 2% 5%; 
        background: #fff;
    }
        #login{ margin-top: 30px;}
        input{
            width: 80%;
            margin-left: 10%;
            margin-top: 10px;
            border: 2px solid #bdbdbd ;
            border-radius: 5px;
            padding: 4% 2%;
        }
        #btn-login{
            width: 80%;
            margin-left: 10%;
            margin-top: 15px;
            text-transform: capitalize;
            border-radius: 5px;
        }
    }
  