body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .circle{
      background: no-repeat center;
      background-size: cover;
  }
    header, main, footer {
      padding-left: 0;
  }
  
