
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="../lib/materialize/css/materialize.min.css"/>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/modal.css">
    <title>Home</title>
    <style>
        h4{ text-align: center; color: #fff;}
    </style>
</head>

<body>
    <!-- cabeçalho -->
    <header>
      <div class="navbar-fixed">
        <nav class="white z-depth-3">
            <div class="nav-wrapper">
              <a href="home.html" class="brand-logo">Logo</a>
              <a href="#" data-activates="slide-out" class="button-collapse"><i class="large material-icons">menu</i></a>
            </div>
        </nav>
      </div>
    </header>

    <!-- barra lateral -->
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../images/fundo.jpg">
                </div>
                <a id="alterar-foto" href="#"><div class="circle" style="background-image: url('../images/fotos-user/usuario.png');"></div></a>
                <a href="#!name"><span class="white-text name">Nome</span></a>
                <a href="#!email"><span class="white-text email">Email</span></a>
            </div>
        </li>
        <li><a href="../index.html"><i class="material-icons">exit_to_app</i>Sair</a></li>
        <li><a class="waves-effect" href="home.html"> <i class="material-icons">home</i>Início</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">opções</a></li>
        <li><a id="remove-usuario" class="waves-effect" href="#"><i class="material-icons">delete</i>Remover Usuario</a></li>
        <li><a id="altera-senha" class="waves-effect" href="#"><i class="material-icons">lock</i>Alterar Senha</a></li>
        <li><a id="altera-login" class="waves-effect" href="#"><i class="material-icons">account_circle</i>Alterar Login</a></li>
    </ul>
    <!-- conteudo principal -->
    <main>



        <!-- botão flutuante -->
        <div class="fixed-action-btn click-to-toggle">
            <a class="btn-floating btn-large blue darken-1">
            <i class="large material-icons">add</i>
            </a>
            <ul>
                <li><a class="btn-floating tooltipped red" data-position="left" data-delay="50" data-tooltip="Upload"><i class="material-icons">file_upload</i></a></li>

            </ul>
        </div>
    </main>


    <script src="../js/paginas.js"></script>
    <footer class="blue darken-4 page-footer">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5 class="white-text">Painel de administração do sistema</h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
         <span>Desenvolvido por <a style='font-weight: bold; color: #fff;' href="#">William Rodrigues</a></span>
      </div>
    </div>
</footer>


  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="../lib/materialize/js/materialize.min.js"></script>
  <script>
      $(document).ready(function(){
          //botão da barra lateral
          $('.button-collapse').sideNav();
          //ativa a modal
          $('.modal').modal({
              dismissible: false,
              opacity: .5,
              inDuration: 300,
              outDuration: 200,
              startingTop: '2%'
              }
          );
          $('.tooltipped').tooltip({delay: 50});
      });
  </script>
</body>
</html>
